body{
    font:20px arial, sans-serif
}


.navbar{
    background-color:#62B6D5;

}

.quem-somos{
    background-color:#6F69BB;
    color:blanchedalmond;
}

.margin{
    padding-top:10px;
    padding-bottom: 50px;
}

.parceiros{
    background-color: #62B6D5;
    color:white;
    
}

.bgfooter{
    background-color: black;
    color:white;
    margin-top:20px;
    padding-top: 30px;
    padding-bottom: 30px;
}